<ul class="quiz-item no-bullet" data-id="{{question_index}}">
	<li>
		<label class="control-label">Question</label>
		<textarea class="form-control question" name="question[{{type}}][{{question_index}}]" rows="3"></textarea>
	</li>
	<li>
		<label class="control-label">Answer</label>
		<button type="button" class="add-answer btn btn-warning btn-xs" data-type="{{type}}">Add Another Answer</button>
		<div class="answers-container" data-id="{{question_index}}">
			<textarea class="form-control answer" name="answer[{{type}}][{{question_index}}][]" rows="1"  placeholder="Answer 1"></textarea>
		</div>
	</li>
	<li class="margin-top">
		<button type="button" class="add-choices btn btn-success btn-xs" data-type="{{type}}">Add Choices</button>
		<button type="button" class="hidden remove-choices btn btn-danger btn-xs">Remove Choices</button>
		<div class="choices-container" data-id="{{question_index}}"></div>
	</li>
</ul>